/target

__pycache__
*.so
docs/_build

# pixi environments
.pixi
*.egg-info

# vscode
.vscode/*

# .DS_Store
.DS_Store

# ipynb checkpoints
.ipynb_checkpoints/

# data
notebooks/canonical_examples/forcing/*.nc
notebooks/canonical_examples/output/*.nc

# documentation
docs/*.png